<div class="container">
  <h1 class="title">tops#index</h1>
  <article>
    <div class="contents">
      <p>new TopPage</p>
      <p>develop</p>
      <p>コンフリクトテスト-masterブランチで記述したもの</p>
    </div>
  </article>
</div>
